<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
  <meta charset="UTF-8">
  <title>Narrow Down Menu App</title>
</head>
<body>
  <div ng-controller="NarrowItDownController as ctrl">
    <input type="text" ng-model="ctrl.searchTerm" placeholder="Search term">
    <button ng-click="ctrl.narrowDown()">Narrow It Down For Me!</button>
    <div ng-if="ctrl.found.length === 0">Nothing found</div>
    <ul>
      <li ng-repeat="item in ctrl.found">
        {{ item.name }} ({{ item.short_name }}) - {{ item.description }}
        <button ng-click="ctrl.removeItem($index)">Don't want this one!</button>
      </li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
